header {
    background-color: black;
}

.info {
    background-color: navy;
    color: lavender;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border: 5px solid black;
}

img {
    height: 500px;
    width: 829px;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    border: 5px solid black;
    border-bottom: none;
}

h2 {
    background-color: navy;
}

h3 {
    text-align: center;
    border: 5px solid black;
    margin-left: 300px;
    margin-right: 300px;
    background-color: royalblue;
    margin-top: 0px;
    border-top: none;
}

body {
    background-color: lightgray;
}